@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Custom css classes should go here as
	an extension to TW utilities */

  .container2000 {
    /* This is a custom class to apply TW
		styles for a custom container of 
		max-width: 2000px */
    @apply mx-auto max-w-[2000px];
  }

  .custom-focus-outline {
    /* This custom class removes default
		focus styles and applies TW's custom
		ring utilities for a11y */
    @apply focus:outline-none focus:ring focus:ring-green-500 focus:ring-offset-2;
  }

  .disable-scrollbar::-webkit-scrollbar {
    width: 0px;
  }

  .frosted-glass-bg {
    @apply bg-white bg-opacity-20 backdrop-blur backdrop-filter dark:bg-neutral-800 dark:bg-opacity-60;
  }
}

/* CUSTOM SCROLL-BAR CSS : START */
::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #afafaf;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #606060;
}
/* CUSTOM SCROLL-BAR CSS : END */

a:hover {
  opacity: 0.8;
}
input[type="checkbox"] {
  margin: 0 6px -6px 0;
  display: inline-block;
}
